<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Logout</title>
	<link rel="stylesheet" href="css/login.css">
</head>
<script>

document.cookie = "name=; max-age=0";
location.href = "./login";
</script>
<body>

</body>
</html>