<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafe Story | Add to Cart</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="css/cart.css">
</head>
<body>
    <!-- header section starts  -->

    <header class="header">

        <a href="#" class="logo">
            <img src="images/logo.png" alt="">
        </a>

        <nav class="navbar">
             <a href="/">home</a>
            <a href="/purchase">Purchase items</a>
            <a href="/reservation">Reservation</a>
            <a href="/cart">Cart</a>
            <a href="/#about">About Us</a>
            <a href="/#contact">Contact Us</a>
            <a href="/login">Login</a>
        </nav>


        <div class="icons">
            <div class="fas fa-search" id="search-btn"></div>
            <div class="fas fa-bars" id="menu-btn"></div>
        </div>

        <div class="search-form">
            <input type="search" id="search-box" placeholder="search here...">
            <label for="search-box" class="fas fa-search"></label>
        </div>

    </header>

    <!-- header section ends -->

    <!-- product section starts  -->

    <section class="products" id="products">

        <h1 class="heading"> Your <span> Cart</span> </h1>
        <div class="container">
    
            <table  id="trh" class="cart_table" cellspacing="20px" width="100%">
                <tr>
                    <th>Name</th>
                    <th>Qty</th>
                    <th>Price</th>
                    <th></th>
                </tr>
                
                
            </table>

            <table class="cart_table" cellspacing="20px" width="100%">
                <tr>
                    <th>Total Amount : <input type="text" value=" " id="total" /></th>
                </tr>
                <tr>
                    <th>
                        <input type="button" value="CheckOut" onclick="bill()" class="btn">
                    </th>
                </tr>
            </table>

        </div>
    </section>

    <!-- product section ends -->
    <!-- footer section starts  -->

    <section class="footer">
        <div class="credit">2022@all rights reserved.Created Using Html and CSS
            <p><span>Contact us on : </span>0261-235758 <span>Mail us on : </span>@gmail.com </p>
        </div>
    </section>

    <!-- footer section ends -->


</body>
</html>